/* NASA API Project Stylesheet */

:root {
	--font-space: 'Audiowide', sans-serif, monospace;
	--font-sans: Arial, Helvetica, sans-serif;
}


body.nasa-app {
	background-color: black;
	background-image: url(backgroundPattern.png);
	color: white;
	font-family: var(--font-space);
	/* font-size: 12px; */
	padding: 0em;
}

body * {
	font-family: inherit;
}

.nasa-app main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.nasa-app header {
	height: fit-content;
	padding: 0em;
	margin: 10px auto;
	flex-wrap: nowrap;
	order: 1;
}

.nasa-app .image-container {
	order: 2;
}

.nasa-app .controls {
	order: 3;
}

@media screen and (min-width: 40em) {
	.nasa-app .image-container {
		order: 3;
	}

	.nasa-app .controls {
		order: 2;
	}
}

.nasa-app footer {
	font-size: 1em;
}

.nasa-app header img {
	width: auto;
	height: 60px;
}

@media screen and (min-width: 500px) {
	.nasa-app header img {
		height: 75px;
	}
}

@media screen and (min-width: 64em) {
	.nasa-app header img {
		height: 90px;
	}
}


.nasa-app #headerText {
	font-size: 1.4em;
	font-weight: 900;
	margin: auto 0;
	width: auto;
}

.nasa-app #photo {
	border: 5px groove black;
	display: block !important;
	max-height: 80vh;
	width: auto;
	height: fit-content;
	max-width: 100%;
	margin-inline: auto;
}

.nasa-app #videoLink {
	display: none;
}

.nasa-app #photo-caption {
	font-size: 1.75em;
}

.nasa-app .photo-details {
	order: 4;
}

.nasa-app .photo-description {
	/* font-size: 16px; */
	font-family: var(--font-sans);
}

.nasa-app #photo-date {
	/* font-family: var(--font-sans); */
}

.nasa-app .modal-title {
	color: black;
}

.nasa-app .modal select {
	font-family: var(--font-sans);
}

@media only screen and (max-width: 399px) {
	body.nasa-app {
		font-size: 12px;
	}
}


@media only screen and (min-width: 400px) {
	body.nasa-app {
		font-size: 16px;
	}
}


@media only screen and (min-width: 500px) {
	body.nasa-app {
		font-size: 20px;
	}
}


@media only screen and (min-width: 1000px) {
	body.nasa-app {
		font-size: 20px;
	}

	.nasa-app header {
		font-size: 1.3em;
	}
}


@media only screen and (min-width: 1200px) {
	body.nasa-app {
		font-size: 20px;
	}

	.nasa-app header {
		font-size: 1.3em;
	}
}