:root {
	--font-space: 'Audiowide', sans-serif, monospace;
	--font-sans: Arial, Helvetica, sans-serif;
	--light-gray: #dfdfdf;
}

body.nasa-app {
	background-color: #020202;
	color: white;
	font-family: var(--font-space);
	padding: 0em;
	font-size: 12px;
}

@media only screen and (min-width: 400px) {
	body.nasa-app {
		font-size: 16px;
	}
}

@media only screen and (min-width: 500px) {
	body.nasa-app {
		font-size: 20px;
	}
}

body * {
	font-family: inherit;
}

hr {
	border-top: 1px solid var(--light-gray);
}

.nasa-app main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.nasa-app header {
	height: fit-content;
	padding: 0em;
	margin: 10px auto;
	flex-wrap: nowrap;
	order: 1;
}

@media only screen and (min-width: 1000px) {
	.nasa-app header {
		font-size: 1.3em;
	}
}

.nasa-app header img {
	width: auto;
	height: 60px;
}

@media screen and (min-width: 500px) {
	.nasa-app header img {
		height: 75px;
	}
}

@media screen and (min-width: 64em) {
	.nasa-app header img {
		height: 90px;
	}
}

.nasa-app #headerText {
	font-size: 1.4em;
	font-weight: 900;
	margin: auto 0;
	width: auto;
}

.nasa-app .image-container {
	order: 2;
}

@media screen and (min-width: 40em) {
	.nasa-app .image-container {
		order: 3;
	}
}

.nasa-app .controls {
	order: 3;
}

@media screen and (min-width: 40em) {
	.nasa-app .controls {
		order: 2;
	}
}

.nasa-app .controls .btn[disabled] {
	background: #404040;
	color: white;
	opacity: .8;
}

@media screen and (hover : hover) {
	.nasa-app .controls .btn:hover {
		text-decoration: underline;
	}
}

.nasa-app #photo {
	border: 5px groove black;
	display: block;
	max-height: 80vh;
	width: auto;
	height: auto;
	max-width: 100%;
	margin-inline: auto;
}

.nasa-app #video {
	border: 5px groove black;
	display: none;
	max-height: 80vh;
	width: auto;
	max-width: 100%;
	margin-inline: auto;
}

.nasa-app .photo-details {
	order: 4;
}

.nasa-app #photo-caption {
	font-size: 1.75em;
}

.nasa-app .photo-description {
	font-family: var(--font-sans);
	color: var(--light-gray);
}

.nasa-app .modal-title {
	color: black;
}

.nasa-app .modal select {
	font-family: var(--font-sans);
}

.nasa-app .modal-body label {
	display: flex;
	align-items: center;
}

.nasa-app #datePicker ~ svg {
	display: none;
	height: 26px;
	width: auto;
}

.nasa-app #datePicker:valid ~ svg.valid {
	display: inline-block;
}

.nasa-app #datePicker:invalid ~ svg.invalid {
	display: inline-block;
}

.nasa-app footer {
	font-size: 1em;
}